<h2>Lista de Usuários</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>E-mail</th>
    <th colspan="2">Ações</th>
  </tr>
  <tr *ngFor="let u of usuarios | async">
    <td>{{u.id}}</td>
    <td>{{u.nome}}</td>
    <td>{{u.email}}</td>
    <button (click)="editar(u)">editar</button>
    <button (click)="excluir(u.id)">excluir</button>
  </tr>
</table>

<div *ngIf="usuarioSelecionado">
  <h3>Editar Usuário</h3>
  <input type="text" [(ngModel)]="usuarioSelecionado.nome" placeholder="digite o nome"> 
  <input type="email" [(ngModel)]="usuarioSelecionado.email" placeholder="digite o email">
  <button (click)="salvar()">Salvar</button>
</div>