<h2>Lista de Usuários</h2>
<button (click)="adicionar()">adicionar</button>

<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Tipo</th>
    <th colspan="2">Ações</th>
  </tr>
  <tr *ngFor="let u of usuarios | async">
    <td>{{u.id}}</td>
    <td>{{u.nome}}</td>
    <td>{{u.email}}</td>
    <td>{{u.tipo | primCaracMaius }}</td>
    <button (click)="editar(u)">editar</button>
    <button (click)="excluir(u.id!)">excluir</button>
  </tr>
</table>

<div *ngIf="usuarioSelecionado">
  <h3>Editar Usuário</h3>
  <input type="text" [(ngModel)]="usuarioSelecionado.nome" placeholder="digite o nome"> 
  <input type="email" [(ngModel)]="usuarioSelecionado.email" placeholder="digite o email">
  <select [(ngModel)]="usuarioSelecionado.tipo" >
    @for (tipo of tipos; track tipo) {
      <option [value]="tipo">{{ tipo |  primCaracMaius }}</option>
    }
  </select>
  <button (click)="salvar()">Salvar</button>
</div>

@if (inserirUsuario) {
  <div>
    <h3>Adicionar Usuário</h3>
    <input type="text" [(ngModel)]="novoUsuario.nome" placeholder="digite o nome"> 
    <input type="email" [(ngModel)]="novoUsuario.email" placeholder="digite o email">
    <input type="password" [(ngModel)]="novoUsuario.senha" placeholder="digite a senha">
    <select [(ngModel)]="novoUsuario.tipo">
      <option value="" disabled selected>Escolha um tipo</option>
      @for (tipo of tipos; track tipo) {
        <option [value]="tipo">{{ tipo | primCaracMaius }}</option>
      }
    </select>
    <button (click)="salvar()">Salvar</button>
  </div>
}