<aside class="menu">
  <div class="main-content menu-content">
    <a routerLink="/">
      <div class="menu-superior">
        <img src="logo-lava-jato.png" alt="logo">
        <h3>Lava Jato</h3>
      </div>
    </a>
    <nav class="navbar-principal">
      <ul>
        <li><a routerLink="/cliente">Clientes</a></li>
        <li><a routerLink="/veiculo">Veículos</a></li>
        <li><a routerLink="/servico">Serviços</a></li>
        <li><a routerLink="/ordemServico">Ordem Serviço</a></li>
        <li><a routerLink="/relatorio">Relatórios</a></li>
      </ul>
    </nav>
    <div class="menu-low-screen">
      <button (click)="fecharOpcoesLowScreen()"><img [src]="opcoesLowScreen ? 'close.png' : 'icone-opcoes.png'"
          alt=""></button>
      <ul *ngIf="opcoesLowScreen" class="ul-low-screen">
        <li class="li-usuario">
          <div (click)="opcoes()">
            <img
              [src]="tipoUsuarioLogado == 'GERENTE' ? 'gerente.png' : tipoUsuarioLogado == 'FUNCIONARIO' ? 'funcionario.png' : 'admin.png'">
            <h4>{{tipoUsuarioLogado == 'GERENTE' ? 'Gerente' : tipoUsuarioLogado == 'FUNCIONARIO' ?
              'Funcionário' : 'Admin'}}</h4>
          </div>
        </li>
        <li><a routerLink="/cliente">Clientes</a></li>
        <li><a routerLink="/veiculo">Veículos</a></li>
        <li><a routerLink="/servico">Serviço</a></li>
        <li><a routerLink="/ordemServico">Ordem Serviço</a></li>
        <li><a routerLink="/relatorio">Relatórios</a></li>
        <li><a (click)="logout()">Sair</a></li>
      </ul>
    </div>
  </div>
  <div class="user">
    <img
      [src]="tipoUsuarioLogado == 'GERENTE' ? 'gerente.png' : tipoUsuarioLogado == 'FUNCIONARIO' ? 'funcionario.png' : 'admin.png'"
      (click)="menuOpcoesUsuario()">
    @if (userOpcoes) {
    <ul>
      <li><a routerLink="#">Opções</a></li>
      <li><a (click)="logout()">Sair</a></li>
    </ul>
    }
  </div>
</aside>

<div class="agrupamento-cima">
  <h2>Lista de Usuários</h2>
  <button (click)="adicionar()">Adicionar</button>
</div>
<div class="subtitulo-cima">
  <h3>Gerencie os Usuários</h3>
</div>

<div class="tabela-responsiva">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Tipo</th>
        <th colspan="2">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuarios | async">
        <td>{{u.id}}</td>
        <td>{{u.nome}}</td>
        <td>{{u.email}}</td>
        <td>{{u.tipo | primCaracMaius }}</td>
        <td class="acoes">
          <button (click)="editar(u)">✏️</button>
          <button class="lixeira" (click)="excluir(u.id!)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="usuarioSelecionado">
  <div class="titulo-form">
    <h3>Editar Usuário</h3>
    <button class="btn-fechar-form" (click)="fechar()">x</button>
  </div>
  <div id="editar-form" class="campos-form">
    <input type="text" [(ngModel)]="usuarioSelecionado.nome" placeholder="digite o nome">
    <input type="email" [(ngModel)]="usuarioSelecionado.email" placeholder="digite o email">
    <select [(ngModel)]="usuarioSelecionado.tipo">
      @for (tipo of tipos; track tipo) {
      <option [value]="tipo">{{ tipo | primCaracMaius }}</option>
      }
    </select>
    <button (click)="salvar()">salvar</button>
  </div>
</div>

@if (inserirUsuario) {
<div>
  <div class="titulo-form">
    <h3>Adicionar Usuário</h3>
    <button class="btn-fechar-form" (click)="fechar()">x</button>
  </div>
  <div class="campos-form">
    <input type="text" [(ngModel)]="novoUsuario.nome" placeholder="digite o nome">
    <input type="email" [(ngModel)]="novoUsuario.email" placeholder="digite o email">
    <input type="password" [(ngModel)]="novoUsuario.senha" placeholder="digite a senha">
    <select [(ngModel)]="novoUsuario.tipo">
      <option value="" disabled selected>Escolha um tipo</option>
      @for (tipo of tipos; track tipo) {
      <option [value]="tipo">{{ tipo | primCaracMaius }}</option>
      }
    </select>
    <button (click)="salvar()">cadastrar</button>
  </div>
</div>
}

@if (excluirSelecionado) {
<div class="modal-externo" (click)="fecharModal()">
  <div class="modal-excluir">
    <div class="excluir-superior">
      <h3>Excluir serviço?</h3>
      <img class="icone-aviso" src="warn-triangle.png" alt="aviso">
    </div>
    <div class="acoes-modal-excluir">
      <button class="btn-cancelar-modal" (click)="cancelarExclusao()">cancelar</button>
      <button class="btn-excluir-modal" (click)="confirmarExclusao()">confirmar</button>
    </div>
  </div>
</div>
}