<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Ordem Serviço</title>
</head>

<body>

    <aside class="menu">
        <div class="main-content menu-content">
            <div class="menu-superior">
                <a href="http://localhost:4200/ordemServico">
                    <img src="logo-lava-jato.png" alt="logo">
                </a>
                <h3>Lava Jato</h3>
            </div>
            <nav>
                <ul>
                    <li><a href="http://localhost:4200/usuario">Funcionários</a></li>
                    <li><a href="http://localhost:4200/cliente">Clientes</a></li>
                    <li><a href="http://localhost:4200/veiculo">Veículos</a></li>
                    <li><a href="http://localhost:4200/servico">Serviços</a></li>
                </ul>
            </nav>
        </div>

    </aside>

    <div class="agrupamento-cima">
        <h2>Ordens de Serviço</h2>
        <button (click)="adicionar()">Nova Ordem</button>
    </div>
    <div class="subtitulo-cima">
        <h3>Gerencie os atendimentos em andamento</h3>
    </div>
    <div class="tabela-responsiva">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>Veículo</th>
                    <th>Serviço</th>
                    <th>Status</th>
                    <th colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let os of ordemServicoResponse | async">
                    <td>{{os.id}}</td>
                    <td>{{os.cliente?.nome}}</td>
                    <td>{{os.veiculo?.modelo | normalizarEnum}}</td>
                    <td>{{os.servico?.tipo}}</td>
                    <td>
                        @switch (os.status) {
                        @case ('EM_ANDAMENTO') {
                        <span class="badge badge-em-andamento">{{os.status | normalizarEnum}}</span>
                        }
                        @case ('FINALIZADO') {
                        <span class="badge badge-finalizado">{{os.status | normalizarEnum}}</span>
                        }
                        }
                    </td>
                    <td class="acoes">
                        <button (click)="editar(os)">✏️</button>
                        <button class="lixeira" (click)="excluir(os.id)">🗑️</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @if (inserirOrdem) {
    <div class="texto-inserir-ordem">
        <h3>Inserir Ordem</h3>
    </div>
    <div class="add-ordem">
        <ng-select class="custom-ng-select" [items]="(funcionarios | async) || []" bindLabel="nome" bindValue="id"
            [(ngModel)]="funcionarioAdicionadoId" [clearable]="true" placeholder="funcionário">
            <ng-template ng-option-tmp let-item="item">
                <span [title]="item.nome">{{ item.nome }}</span>
            </ng-template>
        </ng-select>
        <ng-select class="custom-ng-select" [items]="(clientes | async) || []" bindLabel="nome" bindValue="id"
            (change)="atualizarVeiculos($event)" [(ngModel)]="clienteAdicionadoId" [clearable]="true"
            placeholder="cliente">
            <ng-template ng-option-tmp let-item="item">
                <span [title]="item.nome">{{ item.nome }}</span>
            </ng-template>
        </ng-select>
        <ng-select class="custom-ng-select" [items]="(veiculos | async) || []" bindLabel="modelo" bindValue="id"
            [(ngModel)]="veiculoAdicionadoId" [clearable]="true" placeholder="veículo" notFoundText="selecione um cliente">
            <ng-template ng-option-tmp let-item="item">
                <span [title]="item.modelo">{{ item.modelo }}</span>
            </ng-template>
        </ng-select>
        <ng-select class="custom-ng-select" [items]="(servicos | async) || []" bindLabel="tipo" bindValue="id"
            [(ngModel)]="servicoAdicionadoId" [clearable]="true" placeholder="serviço">
            <ng-template ng-option-tmp let-item="item">
                <span [title]="item.tipo">{{ item.tipo }}</span>
            </ng-template>
        </ng-select>
        <button (click)="salvar()">Gerar</button>
    </div>
    }

    @if (editarOrdem) {
    <div class="texto-editar-ordem">
        <h3>Editar Ordem</h3>
    </div>
    <div class="editar-ordem">
        <ng-select class="custom-ng-select" [items]="(funcionarios | async) || []" bindLabel="nome" bindValue="id"
            [(ngModel)]="funcionarioSelecionado.id" [clearable]="true" placeholder="funcionário">
            <ng-template ng-option-tmp let-item="item">
                <span [title]="item.nome">{{ item.nome }}</span>
            </ng-template>
        </ng-select>
        <ng-select class="custom-ng-select" [items]="(clientes | async) || []" bindLabel="nome" bindValue="id"
            (change)="atualizarVeiculos($event)" [(ngModel)]="clienteSelecionado.id" [clearable]="true"
            placeholder="veículo">
            <ng-template ng-option-tmp let-item="item">
                <span [title]="item.nome">{{ item.nome }}</span>
            </ng-template>
        </ng-select>
        <ng-select class="custom-ng-select" [items]="(veiculos | async) || []" bindLabel="modelo" bindValue="id"
            [(ngModel)]="veiculoSelecionado.id" [clearable]="true" placeholder="veículo" notFoundText="selecione um cliente">
            <ng-template ng-option-tmp let-item="item">
                <span [title]="item.modelo">{{ item.modelo }}</span>
            </ng-template>
        </ng-select>
        <ng-select class="custom-ng-select" [items]="(servicos | async) || []" bindLabel="tipo" bindValue="id"
            [(ngModel)]="servicoSelecionado.id" [clearable]="true" placeholder="serviço">
            <ng-template ng-option-tmp let-item="item">
                <span [title]="item.tipo">{{ item.tipo }}</span>
            </ng-template>
        </ng-select>
        <button (click)="salvar()">Editar</button>
    </div>
    }

    @if (excluirSelecionado) {
    <div class="modal-externo" (click)="fecharModal()">
        <div class="modal-excluir">
            <div class="excluir-superior">
                <h3>Excluir ordem?</h3>
                <img class="icone-aviso" src="warn-triangle.png" alt="aviso">
            </div>
            <div class="acoes-modal-excluir">
                <button class="btn-cancelar-modal" (click)="cancelarExclusao()">Cancelar</button>
                <button class="btn-excluir-modal" (click)="confirmarExclusao()">Confirmar</button>
            </div>
        </div>
    </div>
    }

</body>

</html>