* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  width: 100%;
}

h2 {
  margin-top: 3rem;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
}

h3 {
  padding: 0.8rem;
  display: flex;
  justify-content: center;
}

.acoes-cima {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0.4rem auto;
}

.acoes-cima button {
  margin-right: auto;
}

.tabela-responsiva {
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
}

table th {
  background-color: #fd8559f1;
  padding: 0.2rem;
}

table td {
  text-align: center;
}

.acoes {
  display: flex;
  justify-content: center;
  gap: 5px;                
}

.add-ordem {
  display: flex;
  width: 95;
  justify-content: center;
}

.add-ordem input {
    cursor: pointer;
}

.editar-ordem {
  display: flex;
  width: 95;
  justify-content: center;
}

.editar-ordem input {
    cursor: pointer;
}

button {
  border-radius: 5px;
  background-color: #fdc9b6f1;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

button:hover {
  color: #fd8559f1;
  background-color: black;
}

input {
  padding: 0.4rem;
  border: 2px solid #fd885ef1;
  outline: none;
}

.modal-externo {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #00000080;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  background: #152946;
  max-height: 80%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 8px;
}

.modal h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 0.4rem;
}

.modal .close-btn {
  position: absolute;
  top: 0rem;
  right: 0rem;
  border-radius: 50%;
  color: #f0f0f0;
  background-color: red;
}

.modal-excluir {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  background: #152946;
  max-height: 80%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 8px;
}

.acoes-modal-excluir {
    display: flex;
    justify-content: center;
}

.acoes-modal-excluir .btn-excluir-modal{
    color: #ffffff;
    background-color: red;
    margin-left: 0.2rem;
    transition: transform 0.2s ease;
}

.acoes-modal-excluir .btn-cancelar-modal{
    color: #ffffff;
    background-color: #979797;
    transition: transform 0.2s ease;
}

.acoes-modal-excluir button:hover{
    transform: scale(1.25);
}

.bg-svg {
  background-image: url(../../../assets/stars.svg);
  background-size: cover;
  background-position: center center;
  height: 100%;
  color: #ffffff;
}

.white-bg {
  background-color: #ffffff;
}

.main-content {
  max-width: 80%;
  margin: 0 auto;
}

.section {
  min-height: 100vh;
}

.menu {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #b1b1b1;
}

.menu a{
  text-decoration: none;
  display: block;
  line-height: 0; 
}

.menu a img {
  width: 4rem;
  height: 3rem;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a{
  text-decoration: none;
  padding: 0 0.6rem;
  color: black;
  display: inline-block;
  transition: transform 0.2s ease;
}

.menu ul li a:hover{
  transform: scale(1.2);
}