<aside class="menu">
    <div class="main-content menu-content">
        <a href="http://localhost:4200">
            <div class="menu-superior">
                <img src="logo-lava-jato.png" alt="logo">
                <h3>Lava Jato</h3>
            </div>
        </a>
        <nav class="navbar-principal">
            <ul>
                <li><a routerLink="/usuario">Funcionários</a></li>
                <li><a routerLink="/cliente">Clientes</a></li>
                <li><a routerLink="/servico">Serviços</a></li>
                <li><a routerLink="/ordemServico">Ordem Serviço</a></li>
                <li><a routerLink="#">Relatórios</a></li>
            </ul>
        </nav>
        <div class="menu-low-screen">
            <button (click)="fecharOpcoesLowScreen()"><img
                    [src]="opcoesLowScreen ? 'close.png' : 'icone-opcoes.png'" alt=""></button>
            <ul *ngIf="opcoesLowScreen" class="ul-low-screen">
                <li class="li-usuario">
                    <div (click)="opcoes()">
                        <img
                            [src]="tipoUsuarioLogado == 'GERENTE' ? 'gerente.png' : tipoUsuarioLogado == 'FUNCIONARIO' ? 'funcionario.png' : 'admin.png'">
                        <h4>{{tipoUsuarioLogado == 'GERENTE' ? 'Gerente' : tipoUsuarioLogado == 'FUNCIONARIO' ?
                            'Funcionário' : 'Admin'}}</h4>
                    </div>
                </li>
                <li><a routerLink="/usuario">Funcionários</a></li>
                <li><a routerLink="/cliente">Clientes</a></li>
                <li><a routerLink="/veiculo">Veículos</a></li>
                <li><a routerLink="/servico">Serviço</a></li>
                <li><a routerLink="/ordemServico">Ordem Serviço</a></li>
                <li><a routerLink="#">Relatórios</a></li>
                <li><a (click)="logout()">Sair</a></li>
            </ul>
        </div>
    </div>
    <div class="user">
        <img [src]="tipoUsuarioLogado == 'GERENTE' ? 'gerente.png' : tipoUsuarioLogado == 'FUNCIONARIO' ? 'funcionario.png' : 'admin.png'"
            (click)="menuOpcoesUsuario()">
        @if (userOpcoes) {
        <ul>
            <li><a routerLink="#">Opções</a></li>
            <li><a (click)="logout()">Sair</a></li>
        </ul>
        }
    </div>
</aside>

<div class="agrupamento-cima">
    <h2>Lista de Veículos</h2>
    <button (click)="adicionar()">Adicionar</button>
</div>
<div class="subtitulo-cima">
    <h3>Gerencie os veículos dos clientes</h3>
</div>

<div class="tabela-responsiva">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Cor</th>
                <th>Placa</th>
                <th>Tipo</th>
                <th>Proprietário</th>
                <th colspan="2">Ações</th>
            </tr>
        </thead>
        @for (v of veiculos | async; track v.id) {
        <tbody>
            <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.marca }}</td>
                <td>{{ v.modelo }}</td>
                <td>{{ v.cor }}</td>
                <td>{{ v.placa || '-' }}</td>
                <td>{{ v.tipo | primCaracMaius }}</td>
                <td>{{ v.clienteNome }}</td>
                <td class="acoes">
                    <button (click)="editar(v)">✏️</button>
                    <button class="lixeira" (click)="excluir(v.id!)">🗑️</button>
                </td>
            </tr>
        </tbody>
        }
    </table>
</div>

@if (veiculoSelecionado) {
<div class="titulo-form">
    <h4>Editar Veículo</h4>
    <button class="btn-fechar-form" (click)="fechar()">x</button>
</div>
<div class="campos-form">
    <input type="text" [(ngModel)]="veiculoSelecionado.marca" placeholder="marca">
    <input type="text" [(ngModel)]="veiculoSelecionado.modelo" placeholder="modelo">
    <input type="text" [(ngModel)]="veiculoSelecionado.cor" placeholder="cor">
    <input type="text" [(ngModel)]="veiculoSelecionado.placa" placeholder="placa">
    <select [(ngModel)]="veiculoSelecionado.tipo">
        @for (tipo of tipos; track tipo) {
        <option [value]="tipo">{{ tipo | primCaracMaius }}</option>
        }
    </select>
    <select [(ngModel)]="veiculoSelecionado.clienteId">
        @for (cliente of clientes | async; track cliente.id) {
        <option [value]="cliente.id">{{ cliente.nome }}</option>
        }
    </select>
    <button (click)="salvar()">salvar</button>
</div>
}

@if (inserirVeiculo) {
<div class="titulo-form">
    <h4>Adicionar Veículo</h4>
    <button class="btn-fechar-form" (click)="fechar()">x</button>
</div>
<div class="campos-form">
    <input type="text" [(ngModel)]="novoVeiculo.marca" placeholder="marca">
    <input type="text" [(ngModel)]="novoVeiculo.modelo" placeholder="modelo">
    <input type="text" [(ngModel)]="novoVeiculo.cor" placeholder="cor">
    <input type="text" [(ngModel)]="novoVeiculo.placa" placeholder="placa">
    <select [(ngModel)]="novoVeiculo.tipo">
        <option value="" disabled selected>escolha um tipo</option>
        @for (tipo of tipos; track tipo) {
        <option [value]="tipo">{{ tipo | primCaracMaius }}</option>
        }
    </select>
    <select [(ngModel)]="novoVeiculo.clienteId">
        <option value="0" disabled selected>escolha um proprietario</option>
        @for (cliente of clientes | async; track cliente.id) {
        <option [value]="cliente.id">{{ cliente.nome }}</option>
        }
    </select>
    <button (click)="salvar()">Cadastrar</button>
</div>
}

@if (excluirSelecionado) {
<div class="modal-externo" (click)="fecharModal()">
    <div class="modal-excluir">
        <div class="excluir-superior">
            <h3>Excluir serviço?</h3>
            <img class="icone-aviso" src="warn-triangle.png" alt="aviso">
        </div>
        <div class="acoes-modal-excluir">
            <button class="btn-cancelar-modal" (click)="cancelarExclusao()">cancelar</button>
            <button class="btn-excluir-modal" (click)="confirmarExclusao()">confirmar</button>
        </div>
    </div>
</div>
}