<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Lista de Veículos</h2>
    <div class="btn-add">
        <button (click)="adicionar()">adicionar</button>
    </div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Cor</th>
            <th>Placa</th>
            <th>Tipo</th>
            <th>Proprietário</th>
            <th colspan="2">Ações</th>
        </tr>
        @for (v of veiculos | async; track v.id) {
        <tr>
            <td>{{ v.id }}</td>
            <td>{{ v.marca }}</td>
            <td>{{ v.modelo }}</td>
            <td>{{ v.cor }}</td>
            <td>{{ v.placa }}</td>
            <td>{{ v.tipo | primCaracMaius }}</td>
            <td>{{ v.clienteNome }}</td>
            <td class="acoes">
                <button (click)="editar(v)">editar</button>
                <button (click)="excluir(v.id!)">excluir</button>
            </td>
        </tr>
        }
    </table>

    @if (veiculoSelecionado) {
    <div class="edit-info-superior">
        <h4>Editar Veículo</h4>
        <button class="btn-fechar" (click)="fechar()">x</button>
    </div>
    <div class="editar-veiculo">
        <input type="text" [(ngModel)]="veiculoSelecionado.marca" placeholder="marca">
        <input type="text" [(ngModel)]="veiculoSelecionado.modelo" placeholder="modelo">
        <input type="text" [(ngModel)]="veiculoSelecionado.cor" placeholder="cor">
        <input type="text" [(ngModel)]="veiculoSelecionado.placa" placeholder="placa">
        <select [(ngModel)]="veiculoSelecionado.tipo">
            @for (tipo of tipos; track tipo) {
            <option [value]="tipo">{{ tipo | primCaracMaius }}</option>
            }
        </select>
        <select [(ngModel)]="veiculoSelecionado.clienteId">
            @for (cliente of clientes | async; track cliente.id) {
            <option [value]="cliente.id">{{ cliente.nome }}</option>
            }
        </select>
        <button (click)="salvar()">salvar</button>
    </div>
    }

    @if (inserirVeiculo) {
    <div class="add-info-superior">
        <h4>Adicionar Veículo</h4>
        <button class="btn-fechar" (click)="fechar()">x</button>
    </div>
    <div class="add-veiculo">
        <input type="text" [(ngModel)]="novoVeiculo.marca" placeholder="marca">
        <input type="text" [(ngModel)]="novoVeiculo.modelo" placeholder="modelo">
        <input type="text" [(ngModel)]="novoVeiculo.cor" placeholder="cor">
        <input type="text" [(ngModel)]="novoVeiculo.placa" placeholder="placa">
        <select [(ngModel)]="novoVeiculo.tipo">
            <option value="" disabled selected>escolha um tipo</option>
            @for (tipo of tipos; track tipo) {
            <option [value]="tipo">{{ tipo | primCaracMaius }}</option>
            }
        </select>
        <select [(ngModel)]="novoVeiculo.clienteId">
            <option value="0" disabled selected>escolha um proprietario</option>
            @for (cliente of clientes | async; track cliente.id) {
            <option [value]="cliente.id">{{ cliente.nome }}</option>
            }
        </select>
        <button (click)="salvar()">Cadastrar</button>
    </div>
    }

</body>

</html>