/*  */

ng-select.custom-ng-select {
    width: 10rem;
    min-width: 10rem;
    display: inline-block;
}

.ng-clear-wrapper {
    position: absolute;
    bottom: 0.5rem;
    right: -1.4rem;
    padding: 0;
    margin: 0;
}

.ng-arrow-wrapper {
    position: absolute;
    top: 0.5rem;
}

/* ApexCharts */

.apexcharts-menu-item {
    color: #000 !important;
}

apx-chart {
    display: block !important;
    height: 100%;
}

apx-chart div:first-child {
    height: 100%;
}

.apexcharts-canvas,
.apexcharts-canvas svg,
foreignObject {
    height: 100% !important;
}

.apexcharts-toolbar {
    background-color: #0F172A !important;
}

.apexcharts-menu-icon[aria-expanded="true"] svg,
.apexcharts-menu-icon[aria-expanded="false"] svg {
    stroke: #FFFFFF !important;
}

.apexcharts-menu {
    background-color: #0F172A !important;
    border-color: #334155 !important;
}

.apexcharts-menu-item:hover {
  background-color: #334155 !important;
}

.apexcharts-menu.apexcharts-menu-open div {
    color: #FFFFFF !important;
}

/* Grafico pizza */
.apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
    justify-content: center !important;
}

.apexcharts-legend.apexcharts-align-center.apx-legend-position-right div:first-child {
    height: auto !important;
}